@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

* {
    font-family: 'Electrolize', sans-serif;
}

body {
    background: black;
}

h1 {
    text-align: center;
    font-size: 50pt;
    color: rgb(255, 255, 255);
    position: absolute;
    margin-left: 27%;
    margin-top: 20px;
}

.tabela {
    display: grid;
    width: 70%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    margin: 0 0;
    cursor:default;
    
}

.simbolo{
  font-size: 20pt;
  
}

.nulo{
  cursor:auto;
}

.na {
    border: none;
}

div.modal {
    border: solid 4px rgba(255, 255, 255, .150);
    grid-column-start: 3;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 4;
    border-radius: 12px;
}

/*       .metal, .alcalinos, .alcalino-terroso, .outros-metais,.nao-metais, .lantanideos, .gases-nobres, .actinidios */
.elemento {
    border: solid 2px;
    padding: 15px;
    width: 40px;
    height: 40px;
    text-align: center;
    transition: .29s all;
    cursor: pointer;
}

.elemento:hover {
    transform: scale(1.2);
    border: 1px solid ;
    border-radius:4%;
    
}

div.elemento div.numero {
    font-size: 15pt;
}

.metal-alcalino {
    background-color: #f06292; /* Rosa */
    color: white;
}

.metal-alcalino-terroso {
    background-color: #ba68c8; /* Roxo */
    color: white;
}

.metal-de-transicao {
    background-color: #3f51b5; /* Azul Indigo */
    color: white;
}

.lantanideo {
    background-color: #00bcd4; /* Ciano */
    color: white;
}

.actinideo {
    background-color: #009688; /* Verde Teal */
    color: white;
}

.metaloide {
    background-color: #ffc107; /* Amarelo Âmbar */
}

.nao-metal {
    background-color: #4caf50; /* Verde */
    color: white;
}

.halogenio {
    background-color: #ff9800; /* Laranja */
    color: white;
}

.gas-nobre {
    background-color: #9e9e9e; /* Cinza */
    color: white;
}

.outros-metais {
    background-color: #795548; /* Marrom */
    color: white;
}

#none {
    border-color: rgb(255, 255, 255);
    color: rgb(249, 249, 249);
    background-color: rgb(225, 255, 255, 0.150);
}

.modal {
    /* Adicione quaisquer estilos que você já tenha para o seu container modal */
    display: flex; /* Se você quer que o conteúdo dentro se organize de alguma forma */
    flex-direction: column; /* Exemplo: Organizar os filhos em coluna */
    align-items: center; /* Exemplo: Centralizar os filhos horizontalmente */
    /* Outros estilos do seu modal */
    background-color: #222; /* Cor de fundo de exemplo para o modal */
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 8px;
    width: 90%; /* Largura do seu container modal (ajuste conforme necessário) */
    max-width: 90%;
    margin: 0px auto; /* Para centralizar o modal na tela, se for o caso */
}

#detalhes-elemento {
    background-color: #333;
    color: aliceblue;
    border-radius: 8px;
    overflow: hidden;
    display: flex; /* Usar flex para organizar as colunas internas */
    width: 100%; /* Preenche a largura do container .modal */
    padding: 20px;
    min-width: 200px;
}

.coluna-nome {
    flex: 0 0 auto;
    text-align: center;
    margin-right: 0px;
    min-width: 200px; 
}

.valor-nome {
    font-size: 3em;
    font-weight: bold;
}

.colunas-simbolo-dados {
    display: flex;
    flex: 1; /* Ocupa o espaço restante */
}

.valor-simbolo {
    font-size: 3em;
    font-weight: bold;
    line-height: 1;
}

.valor-numero-atomico {
    font-size: 1.5em;
    margin-top: 5px;
}

.coluna-dados {
    flex: 1; /* Ocupa todo o espaço restante */
    padding-left: 0px;
}

.lista-dados {
    list-style: none;
    padding: 0;
}

.lista-dados li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}

.label {
    font-weight: bold;
    margin-right: 10px;
}

.valor-dado {
    text-align: right;
}